
body{
    background-color: rgb(232, 236, 236);
    /* background-color: #f1f6f9; */
}


.div_container{
    margin: 10% 15% ;
}


#child1{
    width: 50%;
    float: left;
    margin-top: 4%;
}

#logo{
    color: blue;
    font-size: 5em;
    margin: 0px auto 0px auto;
}
#preview{
    font-size: 2.2em;
    font-weight: normal;
}

.user{
    width: 30%;
    float: right;
    background-color: white;
    border-radius: 8px;
    padding: 2% 2%;
}

input{
    width: 100%;
    line-height: 3;
    margin-bottom: 4% ;
    font-size: 1em;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

button{
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    padding: 3.5% ;
    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 3% ;
}

button:nth-of-type(1){
    width: 100%;
    background-color: #0779e4;
    margin-left: 1%;
}

button:nth-of-type(2){
    background-color: rgb(15, 185, 15);
    margin-left: 20%;
}

h3{
    color: blue;
    text-align: center;
    font-weight: normal;
}


#create{
    text-align: end;
}

